#title {
  text-align: center;
  font-family: helvetica;
  color:#888;
}

/* Grid of squares */

.container.nine-grid {
  max-width: 700px;
}

.container.nine-grid .col-md-4 {
  padding-left: 2px;
  padding-right: 2px;
}

.thumb {
  position: relative;
  margin-bottom: 4px;
}

.thumb:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.thumb > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
}

.thumb > a:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.thumb > a > img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

/* Individual listings */

.thumb a.listing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.thumb a.listing:hover .overlay {
  opacity: 1;
}

.thumb a.listing .pricetag {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
}

.thumb a.listing .title {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
